@model IEnumerable<MVCeTicaret.Models.Customer>
    @{
        ViewBag.Title = "ProfileUpdate";
    }

    <div class="row" style="margin-top:50px;text-align:center">
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="font-size:55pt">
                    <span class="glyphicon glyphicon-ok-circle" style="color:cornflowerblue;"></span>
                </div>
                <p class="lead" style="font-size:42pt; color:dimgray">
                  Profiliniz Güncellendi.
                </p>
            </div>
        </div>
    </div>
